@import '../../styles/designTokens.scss';

.page {
    width: 100%;
    min-height: 100vh;
    padding-top: 80px; // Height of navbar
}

.container {
    width: 100%;
    will-change: contents;
    min-height: calc(100vh - 80px);
    position: relative;
    opacity: 0;
    margin: 0 auto;
    padding: $spacing-8 $spacing-6;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
    max-width: 1600px;
    
    @include respond(md) {
        padding: $spacing-12 $spacing-8;
    }

    @include respond(lg) {
        padding: $spacing-16 $spacing-12;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}